<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="false">	

	 <bean id="templateUtil" class="com.tuan.util.TemplateUtil"  init-method="init" >
	 	<property name="needCache">
	 		<value>false</value>
	 	</property>
	 </bean> 
	 
	  <bean id="authService" class="com.tuan.service.impl.AuthenticationServiceImpl" /> 
	
  	 <bean id="getArticleListAction" class="com.tuan.web.action.GetArticleListAction" /> 
  	 <bean id="loginAction" class="com.tuan.web.action.admin.LoginAction" /> 
  	 
</beans>