<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-lazy-init="false">



	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="spliderJobTrigger4" />
				<ref bean="spliderJobTrigger" />
				<ref bean="spliderJobTrigger10" />
				<ref bean="spliderJobTrigger12" />
				<ref bean="spliderJobTrigger15" />
			</list>
		</property>
	</bean>
	<bean id="spliderService"
		class="com.tuan.service.impl.SpliderServiceImpl">
		<property name="hibernateGenericController">
			<ref bean="hibernateGenericController" />
		</property>
	</bean>

	<!-- 日，周，月，总统计任务  start -->
	<bean id="spliderJobObj" class="com.tuan.splider.SpliderJob">
		<property name="spliderService">
			<ref bean="spliderService" />
		</property>
	</bean>

	<bean id="spliderJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="spliderJobObj" />
		<property name="targetMethod" value="doJob" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="spliderJobTrigger4"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="spliderJob" />
		<property name="cronExpression" value="0 3 2 * * ?" />
	</bean>

	<bean id="spliderJobTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="spliderJob" />
		<property name="cronExpression" value="0 8 7 * * ?" />
	</bean>
	
	<bean id="spliderJobTrigger10"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="spliderJob" />
		<property name="cronExpression" value="0 0 10 * * ?" />
	</bean>
	
	<bean id="spliderJobTrigger12"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="spliderJob" />
		<property name="cronExpression" value="0 08 12 * * ?" />
	</bean>
	
	<bean id="spliderJobTrigger15"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="spliderJob" />
		<property name="cronExpression" value="0 10 15 * * ?" />
	</bean>


<bean id="lashouParser" class="com.tuan.splider.parser.LashouParser" />

<bean id="meituanParser" class="com.tuan.splider.parser.MeituanParser" />

<bean id="tuanBaoParser" class="com.tuan.splider.parser.TuanBaoParser" />

<bean id="manzuoParser" class="com.tuan.splider.parser.ManzuoParser" />

<bean id="juan24Parser" class="com.tuan.splider.parser.Juan24Parser" />

<bean id="tuanmeiParser" class="com.tuan.splider.parser.TuanmeiParser" />

<bean id="ytuanParser" class="com.tuan.splider.parser.YtuanParser" />

<bean id="sstuanParser" class="com.tuan.splider.parser.SsTuanParser" />

<bean id="jiapintuanParser" class="com.tuan.splider.parser.JiapintuanParser" />

<bean id="ftuanParser" class="com.tuan.splider.parser.FtuanParser" />

<bean id="nuomiParser" class="com.tuan.splider.parser.NuomiParser" />

<bean id="t58Parser" class="com.tuan.splider.parser.T58Parser" />

<bean id="aibangParser" class="com.tuan.splider.parser.AibangParser" />

<bean id="kutuanParser" class="com.tuan.splider.parser.KutuanParser" />

<bean id="sohutuanParser" class="com.tuan.splider.parser.SohutuanParser" />

<bean id="fantongParser" class="com.tuan.splider.parser.FantongParser" />

<bean id="kekeParser" class="com.tuan.splider.parser.KekeParser" />

<bean id="juziParser" class="com.tuan.splider.parser.JuziParser" />

<bean id="tuan36Parser" class="com.tuan.splider.parser.Tuan36Parser" />

<bean id="tuan5151Parser" class="com.tuan.splider.parser.Tuan5151Parser" />


<bean id="ayatuanParser" class="com.tuan.splider.parser.AyatuanParser" />

<bean id="xituanParser" class="com.tuan.splider.parser.XituanParser" />

</beans>