<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-lazy-init="false">



	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="spliderJobTrigger" />
			</list>
		</property>
	</bean>
	<bean id="spliderService"
		class="com.tuan.service.impl.SpliderServiceImpl">
		<property name="hibernateGenericController">
			<ref bean="hibernateGenericController" />
		</property>
	</bean>

	<!-- 日，周，月，总统计任务  start -->
	<bean id="spliderJobObj" class="com.tuan.splider.SpliderJob">
		<property name="spliderService">
			<ref bean="spliderService" />
		</property>
	</bean>

	<bean id="spliderJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="spliderJobObj" />
		<property name="targetMethod" value="doJob" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="spliderJobTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="spliderJob" />
		<property name="cronExpression" value="0 33 15 * * ?" />
	</bean>


<bean id="lashouParser" class="com.tuan.splider.parser.LashouParser" />

<bean id="meituanParser" class="com.tuan.splider.parser.MeituanParser" />

<bean id="tuanBaoParser" class="com.tuan.splider.parser.TuanBaoParser" />

<bean id="manzuoParser" class="com.tuan.splider.parser.ManzuoParser" />

<bean id="juan24Parser" class="com.tuan.splider.parser.Juan24Parser" />

<bean id="tuanmeiParser" class="com.tuan.splider.parser.TuanmeiParser" />

<bean id="ytuanParser" class="com.tuan.splider.parser.YtuanParser" />

</beans>