#foreach( $article in $newList )
	#if($velocityCount % 3 == 1)
		#if($velocityCount >= $newList.size() - 2)
<div class="main_mid_tdtg_product_dv_line2">		
		#else
<div class="main_mid_tdtg_product_dv_line">		
		#end
	#end
<div class="main_mid_tdtg_product_dv_line_dv">
<a target="_blank"  onclick="addVisit('${article.url}','${article.id}')" href="${article.url}"><img src="${article.imgurl}" width="200" height="130" /></a>
<a target="_blank"  onclick="addVisit('${article.url}','${article.id}')" href="${article.url}"><span style="font-weight:bold">${article.name}</span></a><br />
<table width="100%">
	<tr>
		<td width="50%">来自：<span style="font-weight:bold">${article.fromName}</span></td>
		<td>地区：${article.cityName}</td>
	</tr>
	<tr>
		<td>原价：<span style="color:#FF3300;font-weight:bold">￥${article.originalPrice}</span></td>
		<td>现价：<span style="color:#FF3300;font-weight:bold">￥${article.nowPrice}</span></td>
	</tr>
	<tr>
		<td>折扣：<span style="color:#FF3300;font-weight:bold">${article.discount}</span></td>
		<td>节省：<span style="color:#FF3300;font-weight:bold">￥${article.saveMoney} </span></td>
	</tr>
	<tr>
		<td>人气：${article.olderNum}</td>
		<td>&nbsp;</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
</table>
</div>
	#if($velocityCount % 3 == 0 || $velocityCount == $newList.size())
<span class="clr"></span>
</div>
	#end
#end    