<ul class="list-h">
#foreach( $article in $newList )
<li>
<div class="p-img"><a target="_blank"  onclick="addVisit('${article.url}','${article.id}')" href="${article.url}" ><img src="${article.imgurl}" height="122" width="202"></a></div>
<div class="p-name"><a target="_blank" onclick="addVisit('${article.url}','${article.id}')" href="${article.url}">${article.name}</a></div>
<div class="p-price">
	<table>
		<tr>
			<td width="50%">来自：${article.fromName}</td>
			<td>地区：${article.cityName}</td>
		</tr>
		<tr>
			<td>原价：￥${article.originalPrice}</td>
			<td>现价：<strong>￥${article.nowPrice}</strong></td>
		</tr>
		<tr>
			<td>折扣：${article.discount}</td>
			<td>节省：<strong>￥${article.saveMoney}</strong></td>
		</tr>
		<tr>
			<td>人气：${article.olderNum}</td>
			<td>&nbsp;</td>
		</tr>		
	</table>
</div>
</li>
	#if($velocityCount % 3 == 0)
<span class="clr"></span>		
	#end
#end
</ul>    